body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
}

.navbar {
    background: #222;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 60px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

footer p{

text-align:center;

}
.content {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: #fff;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: #f1f1f1;
    margin: 8px 0;
    padding: 10px;
    border-left: 4px solid #007bff;
}

.project {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
